/* .details {
    padding: 20px;
  }
  
  .details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .details h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .details p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .details button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
  }
   */